// Colors basics
$color_light: #FFFFFF;
$color_dark: #070724;
$color_dark_light: #38384F;
$color_light_dark: #F2F2F2;
// Colors for the theme
$color-1: #419EBB;
$color-2: #EDA249;
$color-3: #6f2ed6;
$color-4: #D14C32;
$color-5: #D83A34;
$color-6: #CD5120;
$color-7: #1ec2a4;
$color-8: #2d68f0;
// Fonts
$font-title: 'Antonio', sans-serif;
$font-text: 'Spartan', sans-serif;

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

ul li {
    list-style: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: underline;
    color: $color_light;
}

h1,
h2,
h3,
h4,
p,
figure {
    padding: 0;
    margin: 0;

}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

h1 {
    font-size: 8rem;
    font-family: $font-title;
    line-height: 104px;
}

h2 {
    font-size: 4rem;
    font-family: $font-title;
    line-height: 52px;
    letter-spacing: -1.5px;
}

h3 {
    font-size: 1.2rem;
    font-family: $font-text;
    line-height: 25px;
    letter-spacing: 2.6px;
}

h4 {
    font-size: 1.1rem;
    font-family: $font-text;
    line-height: 25px;
    letter-spacing: 1.5px;
}

body {
    font-size: 1.4rem;
    font-family: $font-text;
    line-height: 25px;
    font-weight: normal;
    background-color:  $color_dark;
    color: $color_light;
}

.app {
    width: 100%;
    height: 100%;
    background-image: url(/public/assets/background-stars.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.active {
    display: inline-block;
}